LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT="https://api.smith.langchain.com"
LANGSMITH_API_KEY="Langsmith api key"
LANGSMITH_PROJECT="Project name"

GROQ_API_KEY="Groq api key"
TAVILY_API_KEY="tavily api key"